.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progress{
  width: 300px;
  height: 20px;
  position: relative;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;

}
span{
  position: absolute;
  left: 45%;
  top: 10%;
  color: rgba(0, 0, 0, 0.379);
}
.msg{
  display: flex;
  justify-content: center;
  align-items: center;
  color:  rgba(0, 0, 0, 0.379);
};


